
<p>
    {{emailContent}}
</p>


<p style="margin:20px 0;">
    <a href="{{newsletterURL}}" style="background:#005bc2;color:#fff;padding:10px 20px;text-decoration:none;font-size:16px;">View Newsletter</a>
</p>